
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;

}

nav{
    width: 100%;
    height: 80px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 5px solid orangered;
}

.logo{
    color: white;
    font-size: 20px;
}

span{
    color: orangered;
}

.links a{
    margin-left: 40px;
    text-decoration: none;
    color: white;
}

.links a:hover{
    color: orangered;
}

main{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(design.jpeg);
    background-size: cover;
}

main h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: yellowgreen;
}
main p{
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    font-size:20px ;
}

section{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    background-color: pink;
    padding-left: 60px;
    padding-right: 60px;
}

section p{
    color: blue;
    font-size: 20px;
}

section input{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

section button{
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: orangered;
}

aside{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;

}

aside img{
    height: 100px;
    width: 100px;
}

.card{
    height: 300px;
    width: 250px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

aside h3{
    margin: 20px;
    align-items: center;
}

aside p{
    text-align: center;
    font-size: 15px;
    font-weight: light;
}

footer{
    width: auto;
    height: 70px;
    color: white;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}